<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meme Website</title>
    <!-- <meta http-equiv="refresh" content="30;url=http://127.0.0.1:5000/" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-gradient-to-r from-[#4CB8C4] to-[#3CD3AD] pt-4 dark:from-black dark:to-black"
  >
    <div class="text-center font-bold dark:text-white">
      <h1 class="text-4xl">A website to gather random memes!</h1>
      <p class="mt-4 font-['SairaCondensed'] text-2xl">Here is your meme!</p>
    </div>
    <div class="mx-auto h-96 w-96 overflow-hidden">
      <img
        class="h-full w-full object-contain pt-8 pb-4"
        src="{{meme_pic}}"
        alt="meme"
      />
    </div>
    <p class="text-center text-2xl dark:text-white">
      Current subreddit: "{{subreddit}}"
    </p>
    <div
      id="refresh-button"
      class="flex justify-center pt-4 text-white"
      onclick="location.reload(true);"
    >
      <a
        href="#_"
        class="group relative inline-flex items-center justify-start overflow-hidden rounded bg-gray-50 py-3 pl-4 pr-12 font-semibold text-indigo-600 transition-all duration-150 ease-in-out hover:pl-10 hover:pr-6"
      >
        <span
          class="absolute bottom-0 left-0 h-1 w-full bg-indigo-400 transition-all duration-150 ease-in-out group-hover:h-full dark:bg-indigo-600"
        ></span>
        <span
          class="absolute right-0 pr-4 duration-200 ease-out group-hover:translate-x-12"
        >
          <svg
            class="h-5 w-5 text-green-400"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M14 5l7 7m0 0l-7 7m7-7H3"
            ></path>
          </svg>
        </span>
        <span
          class="absolute left-0 -translate-x-12 pl-2.5 duration-200 ease-out group-hover:translate-x-0"
        >
          <svg
            class="h-5 w-5 text-green-400"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M14 5l7 7m0 0l-7 7m7-7H3"
            ></path>
          </svg>
        </span>
        <span
          class="relative w-full text-left transition-colors duration-200 ease-in-out group-hover:text-white"
          >Get New One</span
        >
      </a>
    </div>
  </body>
</html>
